.quiz-topic {
    background-color: #06283D;
    border-radius: 10px;
    margin: 20px;
    width: 200px;
    padding: 15px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 5px;
    transition: 0.5s ease;

}

.quiz-topic:hover {
    background-color: #0068a5;
}

.quiz-topic h2,
h4 {
    color: white;


}

.quiz-topic img {
    width: 100px;
    margin-top: 10px;
}

.quiz-topic a {
    text-decoration: none;
    color: white;

}

.btn-test {
    background-color: #ff4136;
    border: 0;
    color: white;
    border-radius: 5px;
    line-height: 2;
    font-size: 16px;
    padding: 5px 10px;
    width: 100%;
    cursor: pointer;
}

.btn-test:hover {
    background-color: #ff2216;
}