.nav-link a {
    text-decoration: none;
    margin-left: 30px;
    font-size: 40px;
    color: #EEEEEE;
    transition: 0.6s ease-out;
    padding: 10px;
}

.nav-link a:hover {
    background-color: #393E46;
    border-radius: 10px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 5px;


}

.navbar {
    background-color: #222831;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.navbar img {
    width: 80px;
}

@media only screen and (max-width: 768px) {
    .nav-link a {
        display: block;
    }

    .navbar {
        display: block;
        padding: 0;

    }


}